<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Colors</h5>

        <div class="gf-form">
            <label class="gf-form-label width-9">Mode</label>
            <div class="gf-form-select-wrapper width-8">
                <select class="input-small gf-form-input" ng-model="ctrl.panel.color.mode" ng-options="s for s in ctrl.panel.legendTypes" ng-change="ctrl.render()" ></select>
            </div>
        </div>
        
        <!-- Opacity mode for the legend  -->
        <div ng-show="ctrl.panel.color.mode === 'opacity'" class="ng-hide">
            <div class="gf-form">
                <label class="gf-form-label width-9">Color</label>
                <span class="gf-form-label">
                    <spectrum-picker ng-model="ctrl.panel.color.cardColor" ng-change="ctrl.render()" ></spectrum-picker>
                </span>
            </div>

            <div class="gf-form">
                <label class="gf-form-label width-9">Scale</label>
                <div class="gf-form-select-wrapper width-8"> 
                    <select class="input-small gf-form-input" ng-model="ctrl.panel.color.colorScale" ng-options="s for s in ctrl.panel.opacityScales" ng-change="ctrl.render()"></select>
                </div>
            </div>
   
            <div class="gf-form" ng-if="ctrl.panel.color.colorScale === 'sqrt'">
                <label class="gf-form-label width-9">Exponent</label>
                <input type="number" class="gf-form-input width-8" data-placement="right" ng-model="ctrl.panel.color.exponent" ng-change="ctrl.render()">
            </div>
        
            <div class="gf-form">
                <div style="background-color:{{ctrl.panel.color.cardColor}}; opacity: {{x}}; display:inline;width:0.50rem;height:24px;" ng-repeat="x in ctrl.opacity track by $index"></div>
            </div>

        </div>

        <!-- Spectrum mode for the legend -->
        <div ng-show="ctrl.panel.color.mode === 'spectrum'">
            <div class="gf-form">
                <label class="gf-form-label width-9">Scheme</label>
                <div class="gf-form-select-wrapper width-8">
                    <select class="input-small gf-form-input" ng-model="ctrl.panel.colorScheme" ng-options="s.value as s.name for s in ctrl.colorSchemes" ng-change="ctrl.render()"></select>
                </div>
            </div>

            <div class="gf-form">
                <div style="background-color:{{x}}; display:inline;width:0.34rem;height:24px;" ng-repeat="x in ctrl.hex_values track by $index"></div>
            </div>
        </div>
        
        <!-- Threshold mode for the legend -->

        <div ng-show="ctrl.panel.color.mode === 'threshold'" class="ng-hide">
            <div class="gf-form">
                <label class="gf-form-label width-8">Thresholds
                    <tip>Comma separated values in increasing order between (0,100)</tip>
                </label>
                <input type="text" class="gf-form-input width-10" ng-model="ctrl.panel.legend.thresholds" placeholder="50,80" ng-blur="ctrl.render()" array-join>
            </div>
            <div class="gf-form">
                <label class="gf-form-label width-8">Colors</label>
                <span class="gf-form-label" ng-hide="ctrl.panel.legend.thresholds.length < 1 || !ctrl.panel.legend.thresholds[0]">
                    <spectrum-picker ng-model="ctrl.panel.threshold_colors[0]" ng-change="ctrl.render()"></spectrum-picker>
                </span>

                <div ng-repeat="x in ctrl.panel.legend.thresholds track by $index">
                    <span class="gf-form-label" ng-show="ctrl.panel.legend.thresholds[$index]"> 
                        <spectrum-picker ng-model="ctrl.panel.threshold_colors[$index+1]" ng-change="ctrl.render()"></spectrum-picker>
                    </span>
                </div>
            </div>

        </div>
        <div class="gf-form">
            <label class="gf-form-label width-9">Default Node color</label>
            <span class="gf-form-label">
                <spectrum-picker ng-model="ctrl.panel.nodeFillColor" ng-change="ctrl.render()" ></spectrum-picker>
            </span>
        </div>

        <div class="gf-form">
            <label class="gf-form-label width-9">Down Links color</label>
            <span class="gf-form-label">
                <spectrum-picker ng-model="ctrl.panel.downLinkColor" ng-change="ctrl.render()" ></spectrum-picker>
            </span>
        </div>

    </div>

    <div class="section gf-form-group">
        <h5 class="section-heading">Legend</h5>
        <gf-form-switch class="gf-form" label-class="width-8"
            label="Show legend"
            checked="ctrl.panel.legend.show" on-change="ctrl.render()">
        </gf-form-switch>
        <gf-form-switch ng-if="ctrl.panel.legend.show && ctrl.panel.color.mode !== 'threshold'" class="gf-form" label-class="width-8"
            label="Invert legend"
            checked="ctrl.panel.legend.invert" on-change="ctrl.render()">
    </div>

    <div class="section gf-form-group">
        <h5 class="section-heading">Layer Colors</h5>
        <div class="gf-form">
            <label class="gf-form-label width-8">Link Color</label>
            <div class="gf-form-select-wrapper width-8">
                <select class="input-small gf-form-input" ng-model="ctrl.panel.layer.link.selected" ng-options="s for s in ctrl.panel.layer.criteria" ng-change="ctrl.render()" >
                </select>
            </div>
        </div>
        <div class="gf-form">
            <label class="gf-form-label width-8">Node Color</label>
            <div class="gf-form-select-wrapper width-8">
                <select class="input-small gf-form-input" ng-model="ctrl.panel.layer.node.selected" ng-options="s for s in ctrl.panel.layer.criteria" ng-change="ctrl.render()" >
                </select>
            </div>
        </div>
    </div>

    <div class="section gf-form-group">
        <h5 class="section-heading">Tooltip</h5>
        <gf-form-switch class="gf-form" label-class="width-8"
            label="Show tooltip"
            checked="ctrl.panel.tooltip.show" on-change="ctrl.render()">
        </gf-form-switch>
         <div ng-if="ctrl.panel.tooltip.show && ctrl.panel.tooltip.showLinkHover" class="gf-form">
            <label class="gf-form-label width-8">Scale Factor</label> 
            <input type="number" class="gf-form-input width-8" ng-model="ctrl.panel.to_si" ng-blur="ctrl.render()"/>
        </div>  
        <div ng-if="ctrl.panel.tooltip.show">
            <gf-form-switch class="gf-form" label-class="width-12"
                label="Custom Link tooltip"
                checked="ctrl.panel.tooltip.showLinkHover" on-change="ctrl.render()">
            </gf-form-switch>    
        </div>
        <div ng-if="ctrl.panel.tooltip.show">
            <gf-form-switch class="gf-form" label-class="width-12"
                label="Custom Node tooltip"
                checked="ctrl.panel.tooltip.showNodeHover" on-change="ctrl.render()">
            </gf-form-switch>
        </div>
    </div>
    
  
    <div ng-if="ctrl.panel.tooltip.show && ctrl.panel.tooltip.showLinkHover" class="section gf-form-group">  
        <h5 class="section-heading">Custom Link Hover Box</h5>  
        <div class="gf-from-inline">
            <div class="gf-form gf-form--grow">
                <textarea class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched" ng-model="ctrl.panel.tooltip.content" rows="8" cols="50" style="width:100%" give-focus="true" ng-change="ctrl.render()" ng-model-onblur=""></textarea>
            </div>
        </div>
    </div>

    <div ng-if="ctrl.panel.tooltip.show && ctrl.panel.tooltip.showNodeHover" class="section gf-form-group">  
        <h5 class="section-heading">Custom Node Hover Box</h5>  
        <div class="gf-from-inline">
            <div class="gf-form gf-form--grow">
                <textarea class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched" ng-model="ctrl.panel.tooltip.node_content" rows="8" cols="50" style="width:100%" give-focus="true" ng-change="ctrl.render()" ng-model-onblur=""></textarea>
            </div>
        </div>
    </div>
</div>
