<div class="section gf-form-group">
    <h5 class="section-heading">Map Options</h5> 
    <div class="gf-form"> 
        <label class="gf-form-label width-8">Map URL</label>
        <input type="text" class="gf-form-input width-16" ng-model="ctrl.panel.map_tile_url" ng-change="ctrl.render()"><br>
        
        <label class="gf-form-label width-8">Latitude</label>
        <input type="number" class="gf-form-input width-4" ng-model="ctrl.panel.lat" ng-change="ctrl.render()"><br>
        
        <label class="gf-form-label width-8">Longitude</label>
        <input type="number" class="gf-form-input width-4" ng-model="ctrl.panel.lng" ng-change="ctrl.render()">
 
        <label class="gf-form-label width-5">Zoom</label>
        <input type="number" min="0" class="gf-form-input width-4" ng-model="ctrl.panel.zoom" ng-change="ctrl.render()">
        <gf-form-switch class="gf-form" label-class="width-8" 
            label="Twin Tubes"
            checked="ctrl.panel.twin_tubes" on-change="ctrl.render()">
        </gf-form-switch>
        <gf-form-switch class="gf-form" label-class="width-14" 
            label="Hide Layers with no values"
            checked="ctrl.panel.hide_layers" on-change="ctrl.render()">
        </gf-form-switch>
    </div>
</div>

<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Layers</h5>
        <div ng-repeat="x in ctrl.panel.choices track by $index">
            <div class="gf-form">
                <label class="gf-form-label width-4">Name</label>
                <input type="text" class="gf-form-input width-14 ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="ctrl.panel.name[$index]">

                <label class="gf-form-label width-8 gf-form-inline" ng-dblclick="ctrl.useValidator($index)">Map Source
                    <tip>Double Click on this label or the input field to open the JSON editor</tip>
                </label>
                <input  type="text" class="gf-form-input gf-form-inline width-16 ng-pristine ng-untouched ng-valid ng-not-empty" ng-change="ctrl.render()" ng-dblclick="ctrl.useValidator($index)" ng-model="ctrl.panel.mapSrc[$index]">
                
                <label class="gf-form-label width-4">Max</label>
                <input type="text" class="gf-form-input width-10 ng-pristine ng-untouched ng-valid ng-not-empty" ng-change="ctrl.render()" ng-model="ctrl.panel.max[$index]">
    
                <label class="gf-form-label width-4">Min</label>
                <input type="text" class="gf-form-input width-10 ng-pristine ng-untouched ng-valid ng-not-empty" ng-change="ctrl.render()" ng-model="ctrl.panel.min[$index]">

                <button class="btn btn-inverse gf-form-btn" ng-click="ctrl.removeChoice($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        </div>
        <button class="gf-form-btn width-6 btn btn-inverse" ng-click="ctrl.addNewChoice()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>  
</div>
