<div class="editor-row">
    <div class="section gf-form-group">
        <h5 class="section-heading">Colors</h5>

        <div class="gf-form">
            <label class="gf-form-label width-9">Mode</label>
            <div class="gf-form-select-wrapper width-8">
                <select class="input-small gf-form-input" ng-model="ctrl.panel.color.mode" ng-options="s for s in ctrl.panel.colorModes" ng-change="ctrl.render()" ></select>
            </div>
        </div>

        <div ng-show="ctrl.panel.color.mode === 'opacity'" class="ng-hide">
            <div class="gf-form">
                <label class="gf-form-label width-9">Color</label>
                <span class="gf-form-label">
                    <spectrum-picker ng-model="ctrl.panel.color.cardColor" ng-change="ctrl.render()" ></spectrum-picker>
                </span>
            </div>

        <div class="gf-form">
            <label class="gf-form-label width-9">Scale</label>
            <div class="gf-form-select-wrapper width-8"> 
                <select class="input-small gf-form-input" ng-model="ctrl.panel.color.colorScale" ng-options="s for s in ctrl.panel.opacityScales" ng-change="ctrl.render()"></select>
            </div>
        </div>
   
        <div class="gf-form" ng-if="ctrl.panel.color.colorScale === 'sqrt'">
            <label class="gf-form-label width-9">Exponent</label>
            <input type="number" class="gf-form-input width-8" data-placement="right" ng-model="ctrl.panel.color.exponent" ng-change="ctrl.render()" ng-model-onblur=""  >
        </div>
        
        <div class="gf-form">
            <div style="background-color:{{ctrl.panel.color.cardColor}}; opacity: {{x}}; display:inline;width:0.50rem;height:24px;" ng-repeat="x in ctrl.panel.opacity_values track by $index"></div>
        </div>


    </div>

    <div ng-show="ctrl.panel.color.mode === 'spectrum'">
        <div class="gf-form">
            <label class="gf-form-label width-9">Scheme</label>
            <div class="gf-form-select-wrapper width-8">
                <select class="input-small gf-form-input" ng-model="ctrl.panel.colorScheme" ng-options="s.value as s.name for s in ctrl.colorSchemes" ng-change="ctrl.render()"></select>
            </div>
        </div>

        <div class="gf-form">
            <div style="background-color:{{x}}; display:inline;width:0.34rem;height:24px;" ng-repeat="x in ctrl.panel.hex_values track by $index"></div>
        </div>

    </div>
</div>

    <div class="section gf-form-group">
        <h5 class="section-heading">Legend</h5>
        <gf-form-switch class="gf-form" label-class="width-8"
            label="Show legend"
            checked="ctrl.panel.legend.show" on-change="ctrl.render()">
        </gf-form-switch>
        <gf-form-switch ng-if="ctrl.panel.legend.show" class="gf-form" label-class="width-8"
            label="Invert legend"
            checked="ctrl.panel.legend.invert" on-change="ctrl.render()">
    </div>

    <div class="section gf-form-group">
        <h5 class="section-heading">Line Color</h5>
        <div class="gf-form-select-wrapper width-8">
            <select class="input-small gf-form-input" ng-model="ctrl.panel.line.selected" ng-options="s for s in ctrl.panel.line.criteria" ng-change="ctrl.render()" >
            </select>
        </div>   
    </div>

    <div class="section gf-form-group">
        <h5 class="section-heading">Tooltip</h5>
        <gf-form-switch class="gf-form" label-class="width-8"
            label="Show tooltip"
            checked="ctrl.panel.tooltip.show" on-change="ctrl.render()">
        </gf-form-switch>
         <div ng-if="ctrl.panel.tooltip.show && ctrl.panel.tooltip.showLinkHover" class="gf-form">
            <label class="gf-form-label width-8">To SI</label> 
            <input type="number" min="1" class="gf-form-input width-8" ng-model="ctrl.panel.to_si" on-change="ctrl.render()"/>
        </div>  
        <div ng-if="ctrl.panel.tooltip.show">
            <gf-form-switch class="gf-form" label-class="width-12"
                label="Custom Link tooltip"
                checked="ctrl.panel.tooltip.showLinkHover" on-change="ctrl.render()">
            </gf-form-switch>    
        </div>
        <div ng-if="ctrl.panel.tooltip.show">
            <gf-form-switch class="gf-form" label-class="width-12"
                label="Custom Node tooltip"
                checked="ctrl.panel.tooltip.showNodeHover" on-change="ctrl.render()">
            </gf-form-switch>
        </div>

    </div>
    
  
    <div ng-if="ctrl.panel.tooltip.show && ctrl.panel.tooltip.showLinkHover" class="section gf-form-group">  
        <h5 class="section-heading">Custom Link Hover Box</h5>  
        <div class="gf-from-inline">
            <div class="gf-form gf-form--grow">
                <textarea class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched" ng-model="ctrl.panel.tooltip.content" rows="8" cols="50" style="width:100%" give-focus="true" ng-change="ctrl.render()" ng-model-onblur=""></textarea>
            </div>
        </div>
    </div>

    <div ng-if="ctrl.panel.tooltip.show && ctrl.panel.tooltip.showNodeHover" class="section gf-form-group">  
        <h5 class="section-heading">Custom Node Hover Box</h5>  
        <div class="gf-from-inline">
            <div class="gf-form gf-form--grow">
                <textarea class="gf-form-input ng-pristine ng-valid ng-not-empty ng-touched" ng-model="ctrl.panel.tooltip.node_content" rows="8" cols="50" style="width:100%" give-focus="true" ng-change="ctrl.render()" ng-model-onblur=""></textarea>
            </div>
        </div>
    </div>
</div>
