<div>
<div class="tabbed-view-header">
    <h2 class="tabbed-view-title">
        Json Editor
    </h2>

    <button class="tabbed-view-close-btn" ng-click="dismiss()">
        <i class="fa fa-remove"></i>
    </button>
</div>

<div class="tabbed-view-body">
    <div class="gf-form">
        <code-editor content="ctrl.json_content" data-max-lines="35" data-mode="json" data-show-gutter data-snippets-enabled data-behaviours-enabled></code-editor>
    </div>
    
    <div class="gf-form-button-row">
        <button class="btn btn-secondary" ng-click="ctrl.saveToMapSrc(ctrl.json_index);">
            <i class="fa fa-save"></i>&nbsp;Save
        </button>
    </div>
</div>
</div>
